<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.traffic_app"> <!-- Replace with your package name -->

    <!-- Required permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:label="traffic_app"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <!-- Your application components and settings -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Activity configuration -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Meta-data for Flutter tool -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBVjw_XVUqSSZgn1LPo7fu1Sbpe9hVr0Kk"/> -->
    </application>

    <!-- Queries for text processing -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
